* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #0a0a0a;
  letter-spacing: -0.23px;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

ul,
li {
  list-style: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1860px;
  margin: 0 auto;
  padding: 0 40px;
}
